/*@import "tailwindcss";*/
@import "@fortawesome/fontawesome-free/css/all.css";
@import url('https://fonts.googleapis.com/css2?family=BIZ+UDGothic:wght@400;700&family=Noto+Sans+JP:wght@100..900&display=swap');

@layer base {
		body {
				font-family: 'Noto Sans JP', sans-serif;
		}
}

@layer components {
		/*.card-container {*/
		/*		@apply mx-auto flex*/
		/*		mt-1*/
		/*		max-w-xs sm:max-w-sm*/
		/*		items-center gap-x-4 rounded-xl bg-white p-6 shadow-lg*/
		/*		outline-black/5*/
		/*		dark:bg-slate-800 dark:shadow-amber-200*/
		/*		dark:-outline-offset-1 dark:outline-white/10*/
		/*		hover:shadow-xl transition-all duration-200*/
		/*		hidden*/
		/*}*/
		table {
				th, td {
						max-width: calc(100vw / 2.5);
						min-width: 4rem;
						padding: .3rem 1rem;
				}
		}


		button {
				border-radius: 6rem;
				padding: .3rem 1rem;
				color: #eee;
				transition: all 100ms;
				box-shadow: 0 0 0 rgba(0, 0, 0, .3);
				text-align: center;

				&:hover {
						box-shadow: 3px 3px 5px rgba(0, 0, 0, .3);
				}

				&.normal {
						background: #5b91ff;

						&:hover {
								background: #134dcf;
						}
				}

				&.update {
						background: #ffb44e;
						color: #333;

						&:hover {
								background: #fe9a00;
						}
				}

				&.del {
						background: #ff6467;

						&:hover {
								background: #ff4043;
						}
				}
		}


		.line-clamp-2 {
				color: #9ca3af;
		}

		input {
				border: solid 1px rgba(0, 0, 0, 0.3);
				margin: 5px;
				border-radius: 3px;
				width: 25rem;
				padding: .5rem;

				&[readonly] {
						border: none;
				}
		}

		input:focus {
				border: solid 1px rgba(100, 0, 0, 0.5);
		}

		article#shortener-edit, article#shortener-index {
				table {
						margin: 1rem auto;

						img {
								width: 100px;
						}
				}
		}

		#real-url-copy-button {

				max-width: 20rem;
				overflow: hidden;
				white-space: pre;
				text-overflow: ellipsis;
		}

		nav#top-menu {
				color: white;
				display: flex;
				justify-content: space-around;
				padding: 1rem;
				background: #1e345e;

				ul {
						display: flex;
				}

				li {
						min-width: 5rem;
				}
		}

		#float-logout-button {
				position: fixed;
				display: flex;
				bottom: 10px;
				right: 10px;
				background: #1e345e;
				justify-content: center;
				align-items: center;

		}
}
