@import "tailwindcss";
@import "@fortawesome/fontawesome-free/css/all.css";
@import url('https://fonts.googleapis.com/css2?family=BIZ+UDGothic:wght@400;700&family=Noto+Sans+JP:wght@100..900&display=swap');

@layer base {
		body{
				font-family: 'Noto Sans JP', sans-serif;
		}
}

@layer components {
		.card-container {
				@apply mx-auto flex
						mt-1
				max-w-xs sm:max-w-sm
				items-center gap-x-4 rounded-xl bg-white p-6 shadow-lg
				outline-black/5
				dark:bg-slate-800 dark:shadow-amber-200
				dark:-outline-offset-1 dark:outline-white/10
				hover:shadow-xl transition-all duration-200
				hidden
		}
}